/* $Id: chameleon.css,v 1.3 2004/02/19 20:35:25 kjartan Exp $ */
body {
  background: #fff url(/web/20040611171605im_/http://latin.dyndns.org/themes/chameleon/marvin/tshs-watermark.png) no-repeat top right;
  background-attachment: fixed;
}
a:link {
  color: #656
}
a:visited {
  color: #656
}
a:active {
  color: #ccc
}
h2 {
  background-color: #eaeaea;
  border: solid 1px #777;
  font-size: 1.1em;
  margin: 0.5em 0em 0.5em 0em;
  padding: 0.5em;
}
h2.title {
  background-color: #fff;
  border: solid 1px #888;
  margin-top: 1em;
}
p {
  margin: 0 1em 1em 0;
  padding: 0;
}
table {
  font-size: 1em;
}

#linksa {
  text-align: center;
}
#linksa li {
  list-style-type: none;
  display: inline;
  padding-left: .2em;
  padding-right: .2em;
  border-right: 1px solid #000000;
}
#linksa li.outside a:link {
  color: #002;
}
#linksa li.outside a:visited {
  color: #002;
}
#linksa li.last {
  border-right: none;
}

#main {
  width: 80%;
}
#aggregator .feed {
  border: 1px dashed #888;
  padding: 1em;
}
.block {
  margin-bottom: 10px;
  font-size: 0.9em;
}
.block .content {
  border: solid 1px #888;
  border-top: none;
  margin: 0;
  padding: 5px;
}
.block h2.title {
  margin: 0;
}

.calendar .day-today {
  background-color: #ccc;
}
.calendar .day-selected {
  background-color: #bbb;
}
.calendar .header-month {
  background-color: #ddd;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ddd;
}
.calendar .day-link a {
  color: #000;
}
.calendar .row-week {
  color: #aaa;
}
.comment {
  border: solid 1px #777;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;
}
.item-list ul li {
  list-style-image: url(/web/20040611171605im_/http://latin.dyndns.org/themes/chameleon/marvin/bullet.png);
}
.path, .path a, .path a:visited {
  color: #888;
}
.node .submitted {
  color: #7c7c7c;
  font-size: 0.9em;
  float: left;
  padding: 0.5em 0em 0.5em 1em;
}
.node .taxonomy {
  color: #7c7c7c;
  font-size: 0.9em;
  float: right;
}
.node .content {
  clear: both;
  padding-left: 1em;
}
.node .links {
  padding: 1em;
}


/*
     FILE ARCHIVED ON 17:16:05 Jun 11, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:35:14 May 02, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 202.263
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.092
  RedisCDXSource: 42.213
  esindex: 0.009
  LoadShardBlock: 140.26 (3)
  PetaboxLoader3.datanode: 165.62 (4)
  CDXLines.iter: 17.567 (3)
  load_resource: 156.742
  PetaboxLoader3.resolve: 95.147
*/