<style type="text/css">
<!--
.affiliation {  font-family: "Verdana"; font-size: 9px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.menu01 {
        font-family: "Verdana";
        font-size: 11px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        line-height: 16px
}

.menu02 {
        font-family: "Verdana";
        font-size: 9px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        linke-height: 16px;
}

a:hover {
        text-decoration: underline
}

.copyright {
        font-family: "Verdana";
        font-size: 10px;
        color: #000000
}

.content_title {
        font-family: "Verdana";
        font-size: 11px;
        font-weight: bold;
        color: #000000
}

.content {
        font-family: "Verdana";
        font-size: 11px;
        line-height: 16px;
        color: #000000;
        text-decoration: none
}

.frame01 {
        background-color: #CCCCCC;
        border-color: black black #FFFFFF;
        height: 25px;
        border-style: solid;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        text-decoration: none
}

.leftmenu {
        background-color: #B8B8D9
}

.leftmenufg {
        background-color: #676767
}

.contentboxbg {
        background-color: #B8B8D9
}
.contentboxfg {
        background-color: #676767
}

.contentboxfield {
        background-color: #FFFFFF
}

-->
</style>
<!--
     FILE ARCHIVED ON 19:38:23 Dec 30, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:36:29 May 02, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 108.669
  exclusion.robots: 0.117
  exclusion.robots.policy: 0.109
  RedisCDXSource: 0.845
  esindex: 0.013
  LoadShardBlock: 82.141 (3)
  PetaboxLoader3.datanode: 98.601 (4)
  CDXLines.iter: 22.584 (3)
  load_resource: 154.597
  PetaboxLoader3.resolve: 83.423
-->